body{
  background-color: blue;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.main {
  width: 50%;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: lightgray;


}
.total {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  height: 50px;
  background-color: black;
  color: white;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color:gray;
}

.num{
  width: 25%;
  height: 60px;
  background-color: orange;
  font-weight: large;
  border: 2px solid black;
}
.equation{
  width: 25%;
  height: 60px;
  background-color: lightgrey;
  font-weight: large;
  border: 2px solid black;
}
.clear{
  width: 25%;
  height: 60px;
  background-color: lightgray;
  font-weight: large;
  border: 2px solid black;
}
.equals{
  flex: 1;
  height: 60px;
  background-color: lightgrey;
  font-weight: large;
  border: 2px solid black;
}